<%= form_for(@cost_structure) do |f| %>
  <% if @cost_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cost_structure.errors.count, "error") %> prohibited this cost_structure from being saved:</h2>

      <ul>
      <% @cost_structure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
