<p id="notice"><%= notice %></p>

<h1>Listing Media Plans</h1>

<table>
  <thead>
    <tr>
      <th>Objective</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @media_plans.each do |media_plan| %>
      <tr>
        <td><%= media_plan.objective %></td>
        <td><%= media_plan.title %></td>
        <td><%= link_to 'Show', media_plan %></td>
        <td><%= link_to 'Edit', edit_media_plan_path(media_plan) %></td>
        <td><%= link_to 'Destroy', media_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Media plan', new_media_plan_path %>
