<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :publisher_id %><br>
    <%= f.number_field :publisher_id %>
  </div>
  <div class="field">
    <%= f.label :placement_id %><br>
    <%= f.number_field :placement_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
